body {
  min-width: 320px;
  font-size: 14px;
  color: #242424;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.header-section {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.9);
}
.header-section .header-wrap {
  display: flex;
  position: relative;
  height: 64px;
  border-bottom: 0.5px solid #dfdfdf;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 100%, 0);
  transition: background-color 0s;
  transition-delay: 0.3s;
}
.header-section .header-wrap .logo {
  max-width: 56px;
  margin: 0.67em 0;
}
.header-section .header-wrap .logo a {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}
.header-section .header-wrap .logo a img {
  height: 24px;
  max-width: 100%;
  vertical-align: top;
  border-style: none;
  pointer-events: none;
}
.header-section .header-wrap .btn-nav {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 0;
  color: #242424;
  text-transform: none;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
}
.header-section .header-wrap .nav-box {
  display: flex;
  align-items: center;
}
.header-section .header-wrap .nav-box ul {
  display: flex;
  justify-content: center;
  margin-right: 24px;
}
.header-section .header-wrap .nav-box ul a {
  padding: 20px 24px;
  font-size: 16px;
  color: #242424;
  cursor: pointer;
  background-color: transparent;
}
.header-section .header-wrap .nav-box .brand-login {
  cursor: pointer;
  background: #333;
  border-radius: 100px;
  padding: 7px 25px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  overflow: visible;
  outline: 0;
}

#footer {
  padding-bottom: 50px;
}
#footer footer {
  background-color: #fff;
  border-top: 1px solid #eee;
}
#footer footer .footer-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 16px 32px;
}
#footer footer .footer-inner .footer-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
#footer footer .footer-inner .footer-head h1 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}
#footer footer .footer-inner .footer-head ul {
  display: flex;
}
#footer footer .footer-inner .footer-head ul li:first-child {
  margin-left: 0;
}
#footer footer .footer-inner .footer-head ul li {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
#footer footer .footer-inner .footer-head ul li a {
  display: block;
  text-indent: -9999em;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
#footer footer .footer-inner .footer-head ul li .gtm-sns-youtube {
  background-image: url(../img/sns-youtube.png);
}
#footer footer .footer-inner .footer-head ul li .gtm-sns-instagram {
  background-image: url(../img/sns-instagram.png);
}
#footer footer .footer-inner .footer-head ul li .gtm-sns-facebook {
  background-image: url(../img/sns-facebook.png);
}
#footer footer .footer-inner .footer-head ul li .gtm-sns-kakaotalk {
  background-image: url(../img/sns-kakaotalk.png);
}
#footer footer .footer-inner .footer-head ul li .gtm-sns-naver {
  background-image: url(../img/sns-naver.png);
}
#footer footer .footer-inner .question {
  color: #a5a5a5;
  font-size: 10px;
  margin-top: 8px;
  display: none;
}
#footer footer .footer-inner .question .list:first-child {
  margin-top: 0;
}
#footer footer .footer-inner .question .list {
  margin-top: 12px;
}
#footer footer .footer-inner .question .list ul {
  display: flex;
}
#footer footer .footer-inner .question .list ul li:not(:first-child) {
  line-height: 16px;
  margin-left: 12px;
}
#footer footer .footer-inner .about-button {
  color: #a5a5a5;
  font-size: 10px;
  background: url(../img/down-arr.png) 100% no-repeat;
  background-size: 12px;
  padding-right: 14px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
}
#footer footer .footer-inner .about-button.show {
  background: url(../img/up-arr.png) 100% no-repeat;
  background-size: 12px;
  padding-right: 14px;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #a5a5a5;
  font-size: 10px;
}
#footer footer .footer-inner .services {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
}
#footer footer .footer-inner .services li {
  margin-right: 12px;
}
#footer footer .footer-inner .services li a {
  padding-right: 12px;
  font-size: 12px;
  color: #6f6f6f;
  background: url(../img/small-gray-arr.png) 100% no-repeat;
  background-size: 12px;
}
#footer footer .footer-inner .copyright {
  color: #6f6f6f;
  font-size: 10px;
  margin-top: 24px;
}

.floating {
  display: block;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  max-width: 450px;
  width: 90%;
  cursor: pointer;
  margin: 0 auto;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16), 4px 8px 28 rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  line-height: 24px;
  font-size: 16px;
  min-height: 56px;
  border: 0;
  outline: 0;
}