@charset "UTF-8";
body {
  min-width: 320px;
  font-size: 14px;
  color: #242424;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.header-section {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: hsla(0deg, 0%, 100%, 0.9);
}
.header-section .header-wrap {
  display: flex;
  position: relative;
  height: 64px;
  border-bottom: 0.5px solid #dfdfdf;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0deg, 0%, 100%, 0);
  transition: background-color 0s;
  transition-delay: 0.3s;
}
.header-section .header-wrap .logo {
  max-width: 56px;
  margin: 0.67em 0;
}
.header-section .header-wrap .logo a {
  cursor: pointer;
  background-color: transparent;
  color: inherit;
}
.header-section .header-wrap .logo a img {
  height: 24px;
  max-width: 100%;
  vertical-align: top;
  border-style: none;
  pointer-events: none;
}
.header-section .header-wrap .btn-nav {
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 0;
  color: #242424;
  text-transform: none;
  overflow: visible;
  font-size: 100%;
  line-height: 1.15;
}
.header-section .header-wrap .nav-box {
  display: flex;
  align-items: center;
}
.header-section .header-wrap .nav-box ul {
  display: flex;
  justify-content: center;
  margin-right: 24px;
}
.header-section .header-wrap .nav-box ul a {
  padding: 20px 24px;
  font-size: 16px;
  color: #242424;
  cursor: pointer;
  background-color: transparent;
}
.header-section .header-wrap .nav-box .brand-login {
  cursor: pointer;
  background: #333;
  border-radius: 100px;
  padding: 7px 25px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  overflow: visible;
}

.intro-section {
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  padding: 64px 0 0;
  height: 820px;
}
.intro-section .section-wrap {
  position: relative;
  display: block;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/main-bg.0c2e95bfd550759a46367d3abb3d05df.png);
  background-size: 765px;
  background-repeat: no-repeat;
  background-position: 96% 55%;
}
.intro-section .section-wrap .text-wrap {
  margin-top: 88px;
  padding: 0 48px;
}
.intro-section .section-wrap .text-wrap h1 {
  color: transparent;
  text-indent: -9999px;
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slogan.4c47e7658eb4f468e43253b57f8466b5.png);
  background-repeat: no-repeat;
  height: 223px;
  background-size: 346px;
}
.intro-section .section-wrap .text-wrap p {
  margin-top: 310px;
  color: transparent;
  text-indent: -9999px;
  background: url(https://d3udu241ivsax2.cloudfront.net/v3/images/br…illielibrary.e908db2a7501cfb173f997fcc3314c2a.png);
  background-size: 178px;
  background-repeat: no-repeat;
  height: 47px;
}