@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "Apple SD Gothic Neo", "Malgun Gothic", "sans-serif";
  letter-spacing: -0.6px;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}