@charset"UTF-8";

body {
    min-width: 320px;
    font-size: 14px;
    color: #242424;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

.header-section {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: hsla(0, 0%, 100%, .9);

    .header-wrap {
        display: flex;
        position: relative;
        height: 64px;
        border-bottom: 0.5px solid #dfdfdf;
        padding: 0 24px;
        align-items: center;
        justify-content: space-between;
        background-color: hsla(0, 0%, 100%, 0);
        transition: background-color 0s;
        transition-delay: .3s;

        .logo {
            max-width: 56px;
            margin: 0.67em 0;

            a {
                cursor: pointer;
                background-color: transparent;
                color: inherit;

                img {
                    height: 24px;
                    max-width: 100%;
                    vertical-align: top;
                    border-style: none;
                    pointer-events: none;
                }
            }
        }

        .btn-nav {
            display: none;
            width: 32px;
            height: 32px;
            cursor: pointer;
            border: 0;
            background-color: transparent;
            outline: 0;
            color: #242424;
            text-transform: none;
            overflow: visible;
            font-size: 100%;
            line-height: 1.15;
        }

        .nav-box {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                justify-content: center;
                margin-right: 24px;

                a {
                    padding: 20px 24px;
                    font-size: 16px;
                    color: #242424;
                    cursor: pointer;
                    background-color: transparent;
                }
            }

            .brand-login {
                cursor: pointer;
                background: #333;
                border-radius: 100px;
                padding: 7px 25px;
                font-size: 12px;
                line-height: 18px;
                color: #fff;
                text-align: center;
                overflow: visible;
                outline: 0;
            }
        }
    }
}
