@charset"UTF-8";

@import "reset";

#wrap {
    height: 100%;
}

@keyframes fadeIn {
    0% {
        transform: translate3d(0, 50%, 0);
        opacity: 0;
    }

    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes card {
    0% {
        transform: translate3d(0, 20px, 0)scale(.7);
        opacity: 0;
    }

    50% {
        transform: translate3d(0, 10px, 0)scale(.9);
        opacity: .2;
    }

    75% {
        transform: translate3d(0, 10px, 0)scale(1.05);
        opacity: .6;
    }

    100% {
        transform: translateZ(0) scale(1);
        opacity: 1;
    }
}


.intro-section {
    background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
    padding: 64px 0 0;
    height: 820px;

    .section-wrap {
        position: relative;
        display: block;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background: url(../img/main-bg.png);
        background-size: 765px;
        background-repeat: no-repeat;
        background-position: 96% 55%;
        overflow: hidden;

        .text-wrap {
            margin-top: 88px;
            padding: 0 48px;

            h1 {
                color: transparent;
                text-indent: -9999px;
                background: url(../img/slogan.png);
                background-repeat: no-repeat;
                height: 223px;
                background-size: 346px;
                animation: fadeIn 1.8s forwards;
                opacity: 0;
                margin: 0.67em 0;
            }

            p {
                margin-top: 310px;
                color: transparent;
                text-indent: -9999px;
                background: url(../img/millielibrary.png);
                background-size: 178px;
                background-repeat: no-repeat;
                height: 47px;
                font-size: 22px;
                line-height: 160%;
                animation: fadeIn 1.2s .6s forwards;
                opacity: 0;
            }
        }
    }
}

@keyframes slideLeft {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -3000px;
    }
}

@keyframes slideRight {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 3000px;
    }
}

.manybook-section {
    background-color: #fff;

    .section-wrap {
        padding: 80px 24px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        .text-wrap {
            margin-bottom: 60px;

            h2 {
                font-weight: 700;
                font-size: 49px;
                line-height: 130%;
                letter-spacing: -.01em;
                color: #242424;
                margin-bottom: 24px;
                text-align: center;
                opacity: 0;
            }

            p {
                font-size: 22px;
                line-height: 160%;
                letter-spacing: -.6px;
                color: #555;
                text-align: center;
                opacity: 0;
            }
        }

        .bookslide-wrap {
            margin-top: 80px;

            .slide {
                width: 100%;
                height: 500px;
            }

            .slide01 {
                margin: -180px 0 0;
                background: url(../img/slide01.png) 0/ 3000px repeat-x;
                animation: slideLeft 100s linear infinite;
            }

            .slide02 {
                margin: -292px 0;
                background: url(../img/slide02.png) 0/ 3000px repeat-x;
                animation: slideRight 100s linear infinite;
            }

            .slide03 {
                margin: 0 0 -160px;
                background: url(../img/slide03.png) 0/ 3000px repeat-x;
                animation: slideLeft 100s linear infinite;
            }
        }
    }
}

.audiodrama-section {
    background-color: #f7f7f7;

    .section-wrap {
        padding: 80px 0 120px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        .text-wrap {
            margin-bottom: 60px;

            h2 {
                text-align: center;
                opacity: 0;
                font-weight: 700;
                font-size: 49px;
                line-height: 130%;
                letter-spacing: -.01em;
                color: #242424;
                margin-bottom: 24px;
            }

            p {
                text-align: center;
                opacity: 0;
                font-size: 22px;
                line-height: 160%;
                letter-spacing: -.6px;
                color: #555;
            }
        }

        .video-wrap {
            max-width: 730px;
            display: block;
            margin: 0 auto;
            filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, .03)) drop-shadow(12px 12px 32px rgba(0, 0, 0, .1));
            position: relative;

            .video-poster {
                position: relative;

                img {
                    max-width: 100%;
                    vertical-align: top;
                    border-style: none;
                    pointer-events: none;
                }
            }

            .iframe-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: none;
                .youtube-player {
                    aspect-ratio: 16/9;
                    position: relative;
                    iframe{
                        border:none;
                    }
                }
            }
        }
    }
}

.video-poster:after {
    content: "";
    background: url(../img/play-btn.png);
    background-size: 56px;
    position: absolute;
    width: 56px;
    height: 56px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.unlimited-section{
    background-color: #f7f7f7;
    max-width: 100%;
    .section-wrap{
        padding: 80px 0 50px;
        background-color: #fff;
        max-width: 100%;
        .text-wrap{
            margin-bottom: 60px;
            h2{
                text-align: center;
                font-weight: 700;
                font-size: 49px;
                line-height: 130%;
                letter-spacing: -.01em;
                color: #242424;
                margin-bottom: 24px;
            }
            p{
                text-align: center;
                font-size: 22px;
                line-height: 160%;
                letter-spacing: -.6px;
                color: #555;
            }
        }
        .unlimited-wrap{
            margin-top: 80px;
            .book-list{
                max-width: 1153px;
                margin: 32px auto 64px;
                > strong{
                    display: block;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #242424;
                    margin-bottom: 16px;
                    padding: 0 24px;
                }
                .book-shelf{
                    margin: 0 auto;
                    .slide-container{
                        margin: 0;
                        overflow: hidden;
                        .slide-wrapper{
                            align-items: baseline;
                            display: inline-flex;
                            flex-wrap: nowrap;
                            white-space: nowrap;
                            padding-top: 16px;
                            padding-right: 24px;
                            .slide-item{
                                cursor: auto;
                                list-style: none;
                                max-width: 161px;
                                width: 20%;
                                min-width: 145px;
                                margin-left: 16px;
                                .millie-book{
                                    max-width: 145px;
                                    min-width: 145px;
                                    white-space: nowrap;
                                    a{
                                        width: 100%;
                                        cursor: auto;
                                    }
                                    .book-image{
                                        display: flex;
                                        align-items: flex-end;
                                        min-height: auto;
                                        padding-top: 0;
                                        height: 100%;
                                        .thumbnail{
                                            position: relative;
                                            width: 100%;
                                            display: flex;
                                            align-items: flex-end;
                                            .badge{
                                                margin-right: -7px;
                                                margin-top: -25px;
                                                display: block;
                                                width: 40px;
                                                height: 34px;
                                                position: absolute;
                                                right: 0;
                                                background-size: contain;
                                                z-index: 1;
                                                background-position: 50%;
                                                background-repeat: no-repeat;
                                            }
                                            .series{
                                                top: 26px !important;
                                                background-image: url(../img/badge-serise.png);
                                                > span{
                                                    position: absolute;
                                                    top: 50%;
                                                    left:50%;
                                                    margin-top: 2px;
                                                    transform: translate(-50%,-50%);
                                                    font-size: 10px;
                                                    color: #6f6f6f;
                                                    letter-spacing: -3px;
                                                }
                                            }
                                            .short{
                                                top: 52px !important;
                                                background-image: url(../img/badge-short.png);
                                            }
                                            .pdf{
                                                top: 26px !important;
                                                background-image: url(../img/badge-pdf.png);
                                            }
                                            .mp3{
                                                top: 26px !important;
                                                background-image: url(../img/badge-readingbook.png);
                                            }
                                            .full{
                                                top: 52px !important;
                                                background-image:url(../img/badge-full.png);
                                            }
                                            .thumbnail-inner{
                                                overflow: hidden;
                                                position: relative;
                                                width: inherit;
                                                background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%, #f2f2f2 63%);
                                                border-radius: 0 4px 4px 0;
                                                box-shadow: 2px 2px 6px rgba(0, 0, 0, 10%), 0 0 2px rgba(0, 0, 0, 20%);
                                                .book-picture{
                                                    overflow: hidden;
                                                    position: relative;
                                                    max-height: 240px;
                                                    picture{
                                                        position: static;
                                                        opacity: 1;
                                                        transition: opacity .7s;
                                                        img{
                                                            display: block;
                                                            width: 100%;
                                                            height: 100%;
                                                            max-width: 100%;
                                                            border-style: none;
                                                            pointer-events: none;
                                                        }
                                                    }
                                                }
                                                .imageLoaded{
                                                    padding-top: 0;
                                                }
                                            }
                                        }
                                    }
                                    .book-data{
                                        top: 26px;
                                        width: 100%;
                                        .metadata{
                                            padding-top: 12px;
                                            font-size: 12px;
                                            text-align: left;
                                            position: relative;
                                            .reader{
                                                display: block;
                                                background-image: url(../img/label-reader.svg);
                                                padding-left: 42px;
                                                color: #a451f7;
                                                max-height: 1.5em;
                                                line-height: 1.5em;
                                                font-weight: 700;
                                                font-size: 12px;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                -webkit-line-clamp: 1;
                                                -webkit-box-orient: vertical;
                                                word-wrap: break-word;
                                                min-width: 37px;
                                                height: 18px;
                                                position: relative;
                                                margin-bottom: 4px;
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                background-position: 0 0;
                                            }
                                            .mp3{
                                                display: block;
                                                background-image: url(../img/label-mp3.svg);
                                                padding-left: 42px;
                                                color: #a451f7;
                                                max-height: 1.5em;
                                                line-height: 1.5em;
                                                font-weight: 700;
                                                font-size: 12px;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                -webkit-line-clamp: 1;
                                                -webkit-box-orient: vertical;
                                                word-wrap: break-word;
                                                min-width: 37px;
                                                height: 18px;
                                                position: relative;
                                                margin-bottom: 4px;
                                                background-repeat: no-repeat;
                                                background-size: contain;
                                                background-position: 0 0;
                                            }
                                            .title{
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                display: -webkit-box;
                                                -webkit-box-orient: vertical;
                                                word-wrap: break-word;
                                                margin-bottom: 3px;
                                                white-space: normal;
                                                -webkit-line-clamp: 2;
                                                color: #242424;
                                                font-weight: 700;
                                                font-size: 16px;
                                                max-height: 3em;
                                            }
                                            .author{
                                                -webkit-line-clamp: 1;
                                                max-height: 1.35em;
                                                color: #6f6f6f;
                                                font-size: 14px;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                display: -webkit-box;
                                                -webkit-box-orient: vertical;
                                                word-wrap: break-word;
                                                margin-bottom: 3px;
                                                white-space: normal;
                                            }
                                            .reading{
                                                padding-left: 20px;
                                                background: url(../img/icon-complete-reading.svg) no-repeat 0;
                                                background-size: 16px;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                display: -webkit-box;
                                                -webkit-line-clamp: 1;
                                                -webkit-box-orient: vertical;
                                                word-wrap: break-word;
                                                max-height: 1.35em;
                                                color: #6f6f6f;
                                                font-size: 14px;
                                                white-space: normal;
                                            }
                                        }
                                    }
                                }
                            }
                            .slide-item:first-child{
                                margin-left: 24px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bestSellerList{
    background: #f7f7f7;
    .section-wrap{
        padding: 0;
        background: #fff;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        .text-wrap{
            h2 {
                font-weight: 700;
                font-size: 49px;
                line-height: 130%;
                letter-spacing: -.01em;
                color: #242424;
                margin-bottom: 24px;
                text-align: center;
                opacity: 0;
            }

            p {
                font-size: 22px;
                line-height: 160%;
                letter-spacing: -.6px;
                color: #555;
                text-align: center;
                opacity: 0;
            }
        }
        .bestSellerList-wrap{
            max-width: 1200px;
            margin: 0 auto;
            padding: 74px 0 32px;
            .filter{
                overflow: hidden;
                .slide-container{
                    padding: 0 50px;
                    overflow: hidden;
                    cursor: grab;
                    margin-top: -16px;
                    .slide-wrapper{
                        display: inline-flex;
                        flex-wrap: nowrap;
                        white-space: nowrap;
                        padding-right: 24px;
                        margin-bottom: 4px;
                        padding-top: 16px;
                        .slide-item:first-child{
                            margin-left: 0;
                        }
                        .slide-item{
                            margin-left: 8px;
                        }
                        .active{
                            background: #242424 !important;
                            color: #fff;
                        }
                        button{
                            font-size: 14px;
                            background:transparent;
                            overflow: hidden;
                            cursor: pointer;
                            padding: 6px 16px;
                            display: block;
                            border: 1px solid #242424;
                            border-radius: 100px;
                        }
                    }
                }
            }
        }
    }
}

.book-shelf {
    margin: 0 auto;

    .slide-container {
        margin: 0;
        overflow: hidden;
        .slide-wrapper:not(:first-child){
            display: none;
        }
        .slide-wrapper {
            align-items: baseline;
            display: inline-flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            padding-top: 16px;
            padding-right: 24px;
            .slide-item:first-child{
                margin-left: 50px !important;
            }
            .slide-item {
                cursor: auto;
                list-style: none;
                max-width: 161px;
                width: 20%;
                min-width: 145px;
                margin-left: 16px;
                .millie-book {
                    max-width: 145px;
                    min-width: 145px;
                    white-space: nowrap;

                    a {
                        width: 100%;
                        cursor: auto;
                    }

                    .book-image {
                        display: flex;
                        align-items: flex-end;
                        min-height: auto;
                        padding-top: 0;
                        height: 100%;

                        .thumbnail {
                            position: relative;
                            width: 100%;
                            display: flex;
                            align-items: flex-end;

                            .thumbnail-inner {
                                overflow: hidden;
                                position: relative;
                                width: inherit;
                                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                                border-radius: 0 4px 4px 0;
                                box-shadow: 2px 2px 6px rgba(0, 0, 0, 10%), 0 0 2px rgba(0, 0, 0, 20%);

                                .book-picture {
                                    overflow: hidden;
                                    position: relative;
                                    max-height: 240px;

                                    picture {
                                        position: static;
                                        opacity: 1;
                                        transition: opacity .7s;

                                        img {
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            max-width: 100%;
                                            border-style: none;
                                            pointer-events: none;
                                        }
                                    }
                                }

                                .imageLoaded {
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                    .book-data{
                        top: 26px;
                        width: 100%;
                        .metadata{
                            padding-top: 12px;
                            font-size: 12px;
                            text-align: left;
                            position: relative;
                            .reader{
                                display: block;
                                background-image: url(../img/label-reader.svg);
                                padding-left: 42px;
                                color: #a451f7;
                                max-height: 1.5em;
                                line-height: 1.5em;
                                font-weight: 700;
                                font-size: 12px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                min-width: 37px;
                                height: 18px;
                                position: relative;
                                margin-bottom: 4px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: 0 0;
                            }
                            .mp3{
                                display: block;
                                background-image: url(../img/label-mp3.svg);
                                padding-left: 42px;
                                color: #a451f7;
                                max-height: 1.5em;
                                line-height: 1.5em;
                                font-weight: 700;
                                font-size: 12px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                min-width: 37px;
                                height: 18px;
                                position: relative;
                                margin-bottom: 4px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: 0 0;
                            }
                            .title{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                margin-bottom: 3px;
                                white-space: normal;
                                -webkit-line-clamp: 2;
                                color: #242424;
                                font-weight: 700;
                                font-size: 16px;
                                max-height: 3em;
                            }
                            .author{
                                -webkit-line-clamp: 1;
                                max-height: 1.35em;
                                color: #6f6f6f;
                                font-size: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                margin-bottom: 3px;
                                white-space: normal;
                            }
                            .reading{
                                padding-left: 20px;
                                background: url(../img/icon-complete-reading.svg) no-repeat 0;
                                background-size: 16px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                word-wrap: break-word;
                                max-height: 1.35em;
                                color: #6f6f6f;
                                font-size: 14px;
                                white-space: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-wrap{
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .text-wrap{
        h2 {
            font-weight: 700;
            font-size: 49px;
            line-height: 130%;
            letter-spacing: -.01em;
            color: #242424;
            margin-bottom: 24px;
            text-align: center;
            opacity: 0;
        }

        p {
            font-size: 22px;
            line-height: 160%;
            letter-spacing: -.6px;
            color: #555;
            text-align: center;
            opacity: 0;
        }
    }
}

.reading-section{
    background-color: #f7f7f7;
    padding: 80px 0 0;
    .reading-wrap{
        padding: 40px 24px 0;
        .content-wrap{
            position: relative;
            max-width: 834px;
            margin: 0 auto;
            .card{
                position: absolute;
                max-width: 172px;
                img{
                    max-width: 100%;
                    vertical-align: top;
                    border-style: none;
                    pointer-events: none;
                }
            }
            .card01{
                left: -10%;
                top: 50%;
            }
            .card02{
                left: 0;
                top: 12%;
            }
            .card03{
                right: 0;
                top: 12%;
            }
            .card04{
                right: -10%;
                top: 50%;
            }
            .mock{
                transform: translate(-50%);
                left: 53%;
                position: relative;
                display: inline-block;
                img{
                    max-width: 100%;
                    vertical-align: top;
                }

            }
            .tooltip{
                border-radius: 8px;
                position: absolute;
                top: 49%;
                left: 50%;
                transform: translate(-50%);
                box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
                min-width: 297px;
                img{
                    max-width: 100%;
                    vertical-align: top;
                }
            }
        }
    }
}

.price-section{
    background-color: #ffeb60;
    .section-wrap{
        padding: 80px 2% 100px;
        .text-wrap{
            margin-bottom: 60px;
        }
        .price-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            max-width: 1024px;
            .price-list{
                display: flex;
                flex-direction: row;

                li:first-child{
                    margin-right: 24px;
                }

                li{
                    background-color: #fff;
                    box-shadow: 10px 10px 40px rgb(0 0 0 / 10%);
                    border-radius: 16px;
                    padding: 32px;
                    width: 327px;
                    strong{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                        color: #242424;
                    }
                    .month{
                        display: flex;
                        align-items: baseline;
                        margin-top: 24px;
                        span{
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 130%;
                            color: #242424;
                            margin-right: 6px;
                        }
                        p{
                            font-weight: 900;
                            font-size: 40px;
                            line-height: 100%;
                            color: #242424;
                            margin-right: 2px;
                            b{
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 130%;
                                color: #242424;
                            }
                        }
                    }
                    .year{
                        margin: 16px 0 24px;

                        .basic-price{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            p{
                                font-weight: 300;
                                font-size: 18px;
                                line-height: 22px;
                                color: #6f6f6f;
                                margin: 0 8px 0 24px;
                                text-decoration: line-through;
                            }

                            img{
                                max-width: 57px;
                                vertical-align: top;
                            }
                        }
                        .discount-price{
                            display: flex;
                            align-items: baseline;
                            span{
                                font-weight: 300;
                                font-size: 24px;
                                line-height: 130%;
                                color: #242424;
                                margin-right: 6px;
                            }
                            p{
                                font-weight: 900;
                                font-size: 40px;
                                line-height: 100%;
                                color: #242424;
                                margin-right: 2px;
                                b{
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 130%;
                                    color: #242424;
                                }
                            }
                        }
                    }
                    .sub-info{
                        font-size: 14px;
                        line-height: 20px;
                        color: #6f6f6f;
                    }
                }
            }
            .refund-list{
                margin-left: 35px;
                li:first-child{
                    padding-bottom: 16px;
                    border-bottom: 1px solid #fff;
                }
                li{
                    display: flex;
                    align-items: center;
                    flex-wrap: row;
                    img{
                        max-width: 72px;
                        margin-right: 24px;
                    }
                    p{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        color: #242424;
                    }
                }
                li:last-child{
                    padding-top: 16px;
                }
            }
        }
    }
}

.content-section{
    background-color: #f7f7f7;
    .tab-wrap{
        background-color: #fff;
        ul{
            max-width: 1156px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            .active{
                background-color: #f7f7f7;
            }
            li:first-child{
                border: none;
            }
            li:first-child::before{
                background-image: url(../img/audiobook-border.png);
            }
            li:last-child::before{
                background-image: url(../img/viewer-border.png);
            }
            li::before{
                content: "";
                width: 24px;
                height: 24px;
                background-size: 24px;
                position: absolute;
                left: 50%;
                top: 25%;
                transform: translate(-52%);
            }
            li{
                cursor: pointer;
                padding: 54px 16px 33px;
                background-color: #fff;
                text-align: center;
                position: relative;
                flex: 1;
            }
        }
    }
    .section-wrap{
        padding: 74px 142px;
        position: relative;
        max-width: 1440px;
        .introduce{
            display: flex;
            align-items: center;
            .text-wrap{
                flex: 1;
                margin-bottom: 30%;
                position: relative;
                min-width: 171px;
                h2{
                    margin-bottom: 16px;
                }
                p{
                    
                }
            }
            .text-wrap::before{
                background-image: url(../img/audiobook-icon.png);
                content: "";
                width: 44px;
                height: 44px;
                background-size: 44px;
                position: absolute;
                left: 24px;
                top: -70px;
                transform: translate(-50%);
            }
        }
    }
}

